<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>新增新聞</title>
</head>
<body style="background-color: rgb(216, 226, 232);padding: 2rem;">
	<a style="text-decoration: none;padding: .5rem 2rem;background-color: rgb(26, 65, 131); color: white;display: block;width: 6rem;margin: auto;text-align: center;border-radius: 10px;"
    href="/news">回首頁</a>
    <h3 style="text-align: center;color: rgb(26, 65, 131);">新增新聞</h3>
    <form style="display: block;margin: auto;width: 40rem;background-color: rgb(186, 207, 220);border-radius: 10px;padding: 2rem;margin: 2rem auto;"
    th:action="@{/add_news}" method="post">
        <label for="title">標題：</label>
        <input style="width: 40rem;"
        type="text" id="title" name="title" required><br>
        <label for="detail">內容：</label>
        <textarea style="width: 40rem;height: 20rem;"
        id="detail" name="detail" required></textarea><br>
        <label for="category">分類：</label>
        <select id="category" name="category" required>
            <option value="" disabled selected>選擇分類</option>
            <option value="生活">生活</option>
            <option value="娛樂">娛樂</option>
            <option value="美食">美食</option>
            <option value="運動">運動</option>
            <option value="政治">政治</option>
            <option value="其他">其他</option>
        </select>
        <br>
        <button style="text-decoration: none;padding: .5rem 2rem;background-color: rgb(26, 65, 131); color: white;display: block;width: 6rem;margin: auto;text-align: center;border-radius: 10px;"
        type="submit">新增</button>
    </form>
</body>
</html>
