<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>錯誤</title>
</head>
<body style="background-color: rgb(216, 226, 232);padding: 2rem;">
    <h1 style="text-align: center;color: rgb(26, 65, 131);">Error</h1>
    <div style="display: block;margin: auto;width: 50rem;">
        <p>處理資料時似乎出了一點錯，請重新操作一次吧！</p>
    </div>
    <a style="text-decoration: none;padding: .5rem 2rem;background-color: rgb(26, 65, 131); color: white;display: block;width: 6rem;margin: auto;text-align: center;border-radius: 10px;"
    href="/news">回首頁</a>
</body>
</html>
